{{input value=name placeholder="enter name of place to search"}}
<ul>
{{#each model as |place| }}
  <li>{{city-place place=place createTrip='createTrip'}}</li>
{{/each}}
</ul>
{{#link-to 'all-places'}}Show all places{{/link-to}}
