{{input value=name placeholder="enter name of place to search"}}
{{#link-to 'search.result' (query-params name=name)}}<button>Search</button>{{/link-to}}
{{outlet}}
{{#link-to 'all-places'}}Show all places{{/link-to}}
