@import 'bootstrap';
@import 'bootstrap/theme';

body {
  font-family: 'Lora', serif;
  background-image: url(../images/Hualien.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  background-color:  rgba(255,255,255,.5);
}

.nav {
  letter-spacing: .3em;
}
