@import 'bootstrap';
@import 'bootstrap/theme';

body {
  font-family: 'Lora', serif;
  background-image: url(../images/Hualien.jpg);
  background-color: #ddd;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  background-color:  rgba(255,255,255,.5);
}

.nav {
  letter-spacing: .3em;
}

.box {
  background-color:  rgba(255,255,255,.5);
  text-align: center;
  padding: 50px;
  border-radius: 25%;
  margin: 0 50px;
  max-width: 80%;
}

ul {
  padding: 0;
  list-style-type: none;
}

.inline {
  display: inline-block;
}

.no-padding {
  padding: 0;
  margin: 0;
}
