<li class="space">{{trip.place.name}}
<button class="btn btn-default" {{action "move" on="click"}}>Move to visited!</button>
<button class="btn btn-danger btn-xs" {{action "remove" on="click"}}>Delete</button>
</li>
