<h4>{{trip.place.name}}, {{trip.place.country}}</h4>
<p>My tags: Coming soon!</p>
<p>Add more tags: Also coming soon!</p>
<!-- {{#each tags as |tag|}}
  {{tag-button tag=tag click='addDescription'}}
{{/each}} -->
