<li class="space">{{trip.place.name}}
{{#link-to 'profile.trip' trip.id}}<button class="btn btn-default">See/add tags</button>{{/link-to}}
<button class="btn btn-danger btn-xs" {{action "remove" on="click"}}>Delete</button>
</li>
