{{#link-to 'search'}}Back to search{{/link-to}}
<div class="container fluid">
  <ul>
    {{#each model as |place| }}
    <div class="col-sm-3 no-padding">
      <li class="btn btn-default">{{city-place place=place createTrip='createTrip'}}</li>
    </div>
    {{/each}}
  </ul>
</div>
