<h2>Please create a profile in order to start adding trips!</h2>
<form {{action "submit" on="submit"}}>
  <label for="name">Name:</label>
  {{input type="text"
        placeholder="Your Name"
        value=profile.name}}
  <label for="bio">About Me:</label>
  {{input type="text"
        placeholder="Let us know a little about you!"
        value=profile.bio}}
  <input type="submit" value="Create" class="btn btn-default">
</form>
